
body {
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.general {
    display: flex;
    flex-direction: column;

    width: 60em;
    height: 40em;

    background-color: blue;
}

.parteArriba {
    display: flex;
    flex-direction: column;

    height: 12em;
    background-color: pink;
}

.parteAbajo {
    display: flex;
    flex-direction: row;

    height: 28em;
    background-color: green;
}

.parteArribaImagen {
    height: 10em;

    background-color: orange;
}

.parteArribaTitular {
    height: 2em;

    background-color: gray;
}

.parteAbajoIzquierda {
    width: 10em;

    background-color: lime;
}

.parteAbajoDerecha {
    width: 50em;

    background-color: red;
}